/* HTML */

html {
  font-family: 'Gothic A1', san-serif;
  font-size: 16px;
}

.mobile ul {
  display: none;
}

a {
  text-decoration: none;
}

/* HEADER  */

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  height: 4rem;
  border-bottom: 1px solid black;
  padding-right: 0.5rem;
}

h3 span {
  opacity: .5;
}

.left-head {
  display: flex;
  align-items: center;
}

.left-head h3 {
  font-size: 2rem;
}

.left-head img {
  height: 3rem;
  padding-left: 1.5rem;
}

.desktop {
  display: flex;
  justify-content: flex-end;
}

ul li {
  display: inline;
  padding-right: 1rem;
}

@media only screen and (max-width: 450px) {
  .desktop ul {
    display: none;
  }
  .mobile ul {
    display: inline-flex;
    max-width: 100%;
  }
  header h3 {
    display: none;
  }
}

/* Main Content */

.main-container {
  width: 100%;
  background-color: #8598C4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.main-container img {
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.text {
  width: 40%;
  color: white;
}

.text h2 {
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 1.5rem;
  width: 80%;
  line-height: 1.2;
}

.text h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.4;
  padding-bottom: 1.5rem;
  width: 85%;
}

.start-here {
  background-color: hsl(0, 0%, 100%);
  width: 75%;
}

.start-here p {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #8598C4;
  transition-property: background-color;
  transition-duration: 0.6s;
}
p a:active {
  color: red;

}
p a:visited {
  color: gray;
}

.start-here p:hover {
  background-color: #243E79;
  color: white;
}

/* Information */

.flex-container {
  display: flex;
  padding-bottom: 2rem;
  width: 100%;
}

.flex-container #info {
  width: 60%;
  overflow: hidden;
}

#info img {
  width: 100%;
  padding: 2rem 1.5rem;
}

#info h2 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  color: #243E79;
}

#info p {
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #566EA4;
}

#info h6 {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  color: #566EA4;
}

}

.flex {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 1.5rem;
  padding-top: 2rem;
}

section .flex-item {
  border: 1px solid #243E79;
}

.flex-item img {
  width: 35%;
  height: auto;
  /* padding: 1rem 1rem: */
}

.flex h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.flex h6 {
  padding-bottom: 0.5rem;
}

#guest {
  background-color: #8598C4;
}

#guest .info-text {
  color: white;
}

.flex-item .info-text {
  display: flex;
  flex-direction: column;
  color: #39538D;
}

/* START LEARNING */

.start-title h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  background-color: #8598C4;
  color: white;
}

.learnig {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: #8598C4;
}

.f-item {
  width: 33%;
  height: auto;
  background-color: white;
  margin-bottom: 1rem;
}

.f-item img {
  height: auto;
  width: 100%;
}

.f-item h2 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: #39539D;
}

.f-item h5 {
  color: #243E79;
  line-height: 1.2;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

/* THESIS */

.thesis {
  display: flex;
}

.video {
  width: 60%;
  padding-left: 1rem;
}

.video video {
  width: 100%;
  padding-bottom: 1.5rem;
}

.box-container {
  width: 40%;
  padding-left: 1.5rem;
}

.box img {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.box-container .box {
  display: inline-flex;
  align-content: center;
  height: 13rem;
}

.thesis-text {
  width: :65%;
  position: relative;
  top: 4.5rem;
  color: #39538D;
}

#fisma .thesis-text {
  position: relative;
  top: 3.5rem;
}

.thesis-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.t-exhibit h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  color: #243E79;
}

.urban h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.urban p {
  padding-bottom: 2rem;
}

.urban {
  color: #39538D;
}

#fisma {
  background-color: #8598C4;
}

#fisma .thesis-text {
  color: white;
}

/* FOOTER */

footer {
  border-top: 1px solid darkgray;
  height: 4rem;
  font-size: 0.75rem;
}

footer .left {
  float: left;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

footer .right {
  float: right;
  padding-top: 1rem;
  padding-right: 1.5rem;
}
